$background: lavender;
$border-color: #909df4;
$btn-background-color: #6c66d8;
$btn-disabled-color: lighten($btn-background-color, 20%);
$footer-background: hsl(219, 11%, 25%);
$text-color: hsl(219, 11%, 25%);
$title-text-color: indigo;
$hover-background: darken($background, 5%);
$link-color: rgb(63, 6, 250);

a:hover {
    color: $link-color !important;
}

.btn-custom {
    min-width: 20%;
    width: fit-content;
    height: fit-content;
    color: white;
    text-decoration: none;
    background-color: $btn-background-color;
    border: 1px solid $border-color;
    border-radius: 5px;
    align-items: center;
    text-align: center;
    pointer-events: all;
}

Button:hover {
    color: $link-color !important;
}

Button:disabled {
    background-color: $btn-disabled-color;
}

Table {
    overflow: hidden;
    border: 1px solid;
    border-radius: 5px;
    border-color: $border-color;
    background-color: $border-color;
    color: $text-color;

    th {
        border-color: $border-color;
        background: darken($background, 5%) !important;
    }

    tr {
        border-color: $border-color;
        background: $background !important;
    }

    td {
        border-color: $border-color;
        background: $background !important;
    }

    td.highlight {
        background: darken($background, 5%) !important;
    }

}

.table-hover {
    :hover {
        background-color: $hover-background;

        >td,
        >th {
            background-color: $hover-background;
        }
    }
}

.list {
    overflow: hidden;
    border: 0.5px solid;
    border-radius: 5px;
    border-color: $border-color;

    .item {
        overflow: hidden;
        border: 0.5px solid;
        border-color: $border-color;
        color: $text-color;
    }
}

.section {
    border-top: 1.5px solid $border-color;
    color: $text-color;
}

.title {
    color: $title-text-color;
    margin: inherit;
}

span {
    color: $text-color;
}

p {
    color: $text-color;
}

.accordion {
    overflow: hidden;
    border: 1px solid;
    border-radius: 5px;
    border-color: $border-color;
}

div.category {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    padding: 0px;

    button {
        padding: 0px;
    }
}