@import 'theme.scss';

// div {
//     border: 1px solid blue;
// }

//Header
.header {
    background-image: var(--gradient-image-header);
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 10px;

    nav a {
        color: var(--background);
        padding: 0px;
        width: auto;
    }

    .icon:hover {
        border-color: var(--background) !important;
        border-radius: 5px;
    }

    .navbar-brand {
        width: min-content;
        margin-right: 5px;
        color: var(--background);
    }

    .navbar-nav {
        width: auto;
        justify-content: space-between;
    }

    .navbar-collape {
        flex-grow: unset;
    }

    .navbar-toggler,
    .navbar-toggler:focus,
    .navbar-toggler:active,
    .navbar-toggler-icon:focus {
        outline: none !important;
        box-shadow: none !important;
        border: 0 !important;
    }

    position: fixed;
    top:0;
    left:0;
    width: 100%;
    z-index: 1000;
}

.header::after {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 10px;
    /* Blur effect height */
    background: inherit;
    /* Inherit background */
    //background: red;
    filter: blur(8px);
    /* Apply blur effect*/
}

.alert-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5000;

    @media ((min-width:0px) and (max-width: 767px)) {
        margin-top: 116px;
    }

    @media (min-width: 768px) {
        margin-top: 71px;
    }
}

.content {
    @media ((min-width:0px) and (max-width: 767px)) {
        margin-top: 125px;
    }

    @media (min-width: 768px) {
        margin-top: 77px;
    }

    margin-top: 10px;
    margin-bottom: 30px;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    position: fixed;
    background-color: var(--background);
    text-align: center;
    font-size: small;
    //padding-top: 5px;

    .span {
        padding-top: 2px;
    }
}

.fix-toggle-btn {
    margin-left: 5px;
    margin-right: 5px;
    display: block;

    @media (min-width: 769px) {
        display: none;
    }

    .btn {
        padding: 0;
    }
}

.fix-login-btn-before {
    width: min-content;
    display: none;

    @media (max-width: 767px) {
        width: min-content;
        margin-right: 5px;
        display: block;
    }

    .btn {
        padding: 0;
    }
}

.fix-login-btn-after {
    width: min-content;
    display: none;

    @media (min-width: 768px) {
        width: min-content;
        margin-right: 5px;
        display: block;
    }

    .btn {
        padding: 0;
    }
}

.navbar-collapse.collapse {
    justify-content: end;
    flex-grow: unset;
}

.homeText {
    font-family: cursive;
    font-size: 27px;
    font-weight: bold;
    padding-left: 10px;
    background: var(--gradient-color);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.homeLink:hover {
    transform: scale(1.1);
}

.menu {
    display: flex;
    direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
}

.menuItem {
    align-items: center;
    text-align: center;
    pointer-events: all;
}

.menuItem:hover {
    transform: scale(1.2);
}

.menuItem.disabled {
    border: 0px !important;
    pointer-events: none !important;
    opacity: 0.3 !important;
}

.menu-icon {
    width: 25px;
    height: 25px;
}

.logo {

    width: 10rem;

    @media (max-width: 450px) {
        width: 8rem;
    }

}

.profile-icon {
    background: linear-gradient(white, white) padding-box,
        var(--gradient-color) border-box;
    border-radius: 20px;
    border: 2px solid transparent;
}

.hover-effect:hover {
    transform: scale(1.1);
}

.gradient-profile-box {
    background: transparent;
    height: 45px;
    width: 45px;
    background-image: var(--gradient-image-profile-background);
    background-clip: padding-box, border-box;
    background-origin: border-box;
    border: 3px solid transparent;
    border-radius: 50%;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.gradient-icon-box-header {
    background: transparent;
    height: 45px;
    width: 45px;
    background-image: var(--gradient-image-icon-background);
    background-clip: padding-box, border-box;
    background-origin: border-box;
    border: 3px solid transparent;
    border-radius: 50%;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.gradient-icon-box-body {
    background: transparent;
    height: 45px;
    width: 45px;
    background-image: var(--gradient-image-button);
    background-clip: padding-box, border-box;
    background-origin: border-box;
    border: 3px solid transparent;
    border-radius: 50%;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.gradient-icon-label {
    background-image: var(--gradient-color);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 38px;
    font-family: cursive;
}

//General
.btn-custom {
    min-width: 15%;
    width: fit-content;
    height: fit-content;
    padding: 2px;
    text-decoration: none;
    border-radius: 5px;
    align-items: center;
    text-align: center;
    pointer-events: all;

    background-image: var(--gradient-image-button);
    background-clip: padding-box, border-box;
    background-origin: border-box;
    border: 3px solid transparent;

    span {
        background-image: var(--gradient-image-text);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }
}

.btn-custom:enabled:hover {
    transform: scale(1.1);
}

.btn-custom:disabled {

    background-image: var(--disabled-gradient-image-button) !important;

    span {
        background-image: var(--disabled-gradient-image-text);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }

}

a.btn-custom:not([aria-disabled="false"]):hover {
    transform: scale(1.1);
}

a.btn-custom[aria-disabled="true"] {
    background-image: var(--disabled-gradient-image-button);

    span {
        background-image: var(--disabled-gradient-image-text);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }
}

.gradient-text {
    background-image: var(--gradient-image-text);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.gradient-disabled-text {
    background-image: var(--disabled-gradient-image-text);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.btn-custom-login {
    min-width: 15%;
    width: fit-content;
    height: fit-content;
    color: var(--link-color);
    text-decoration: none;
    background-color: var(--background);
    border: 1px transparent;
    border-radius: 5px;
    align-items: center;
    text-align: center;
    pointer-events: all;

}

.btn-custom-login:hover {
    background-color: var(--background-2) !important;
}

.btn-custom-register {
    min-width: 15%;
    width: fit-content;
    height: fit-content;
    color: var(--text-color);
    font-size: smaller;
    text-decoration: none;
    background-color: var(--background);
    border: 1px transparent;
    border-radius: 5px;
    align-items: center;
    text-align: center;
    pointer-events: all;
    margin-top: 3px;
}

.btn-custom-register:hover {
    background-color: var(--background-2) !important;
}

.btn-profile-menu {
    margin-top: 3px;

    color: var(--link-color);
    text-decoration: none;

    background-color: var(--background);
    border: 1px transparent;
    border-radius: 5px;

    padding: 0;
    align-items: end;
    text-align: end;
    pointer-events: all;
}

.btn-profile-menu:hover {
    background-color: var(--highlight-item-list) !important;
}

table {
    background-color: var(--border-color);
    color: var(--text-color);
    width: 100%;
    white-space: nowrap;
    table-layout: auto !important;
    margin-bottom: 0px !important;

    thead {
        position: sticky;
        top: 0;
    }

    th {
        border-color: var(--border-color);
        background: var(--background-2) !important;
    }

    tr {
        background: var(--background) !important;
    }

    td {
        background: var(--background) !important;
    }

    td.highlight {
        background: var(--background-3) !important;
    }

    :hover {

        >td {
            background-color: var(--highlight-item-list) !important;
        }
    }

}

.scroll-consume table tbody tr td:nth-child(3),
.scroll-consume table thead tr th:nth-child(3) {
    max-width: 1px !important;
}

table.bordered {
    overflow: hidden;
    border: 0.5px solid;
    border-radius: 5px;
    border-color: var(--border-color);
}

.table-hover {
    :hover {
        >td {
            background-color: var(--highlight-item-list) !important;
        }
    }
}

.list {
    overflow: hidden;
    border: 0.5px solid;
    border-radius: 5px;
    border-color: var(--border-color);

    .item {
        overflow: hidden;
        border: 0.5px solid;
        border-color: var(--border-color);
        color: var(--text-color);
    }
}

.section {
    border-top: 1.5px solid var(--border-color);
    color: var(--text-color);
    width: 100%;
}

.title {
    color: var(--title-text-color);
    margin: initial;
}

.simple-title {
    margin: initial;
    font-weight: 300;
    color: var(--title-text-color);
}

.highlight {
    color: var(--highlight-text);
}

.bigger-title {
    color: var(--title-text-color);
    margin: initial;
    font-size: bigger;
    padding: 5px;
}

.subtitle {
    color: var(--text-color-2);
    margin: initial;
}

.link {
    color: var(--link-color);
}

span {
    color: var(--text-color);
}

.text-small {
    font-size: smaller;
}

.highlight-text {
    color: var(--highlight-text);
}

span[disabled] {
    color: var(--text-color-2);
}

.removed {
    color: var(--highlight-critical);
    text-decoration: line-through;
}

p {
    color: var(--text-color);
}

.default-text-color {
    color: var(--text-color);
}

.big-icon {
    color: var(--icon-color);
    width: 40px;
    height: 40px;
}

.small-icon {
    color: var(--icon-color);
    width: 15px;
    height: 15px;
}

.small-icon:hover {
    border-color: var(--link-color);
    color: var(--link-color);
    transform: scale(1.3);
}

.simple-icon {
    color: var(--icon-color);
    width: 25px;
    height: 25px;
    padding: 0;
}

div.bigger-icon {
    .bigger-icon {
        width: 30px;
        height: 30px;
    }
}

.icon {
    color: var(--icon-color);
    width: 25px;
    height: 25px;
}

.icon:hover,
.big-icon:hover {
    border-color: var(--link-color);
    color: var(--link-color);
    transform: scale(1.4);
}

.reset-question-field {
    background-color: var(--background-1) !important;
}

.custom-card {
    padding-top: 5px;
    border-bottom: 0.8px solid var(--border-color);

    .card {
        border: 1.5px solid var(--border-color) !important;
        background-color: var(--background) !important;
        border-radius: 8px !important;
    }

    .card-header {
        background-color: var(--background-2);
    }

    .card-body {
        background-color: var(--background);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .card-footer {
        background-color: var(--background-2);
        padding-bottom: 0;
    }

}

div.category {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    padding: 0px;

    button {
        padding: 0px;
    }
}

div.settings {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 2px;
    padding: 0px;
}

.card-login-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    background-color: var(--background) !important;
}

//Borders
.bordered {
    border: 1px solid var(--border-color);
    border-radius: 5px;
}

.border-custom {
    border: 1px solid;
    border-radius: 5px;
    border-color: var(--border-color);
    padding: 10px 20px 5px 20px; //t, r, b, l
}

//End of Borders


div[disabled] {
    pointer-events: none;
    opacity: 0.7;
}

.hover-box:hover {
    border-color: var(--link-color) !important;

    box-shadow: 0 1px 2px var(--box-shadow-0);
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.hover-box::after {
    box-shadow: 0 5px 15px var(--box-shadow-1);
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* Scale up the box */
.hover-box:hover {
    -webkit-transform: scale(1.02, 1.02);
    transform: scale(1.02, 1.02);
    box-shadow: 0 5px 15px var(--box-shadow-1);
}

/* Fade in the pseudo-element with the bigger shadow */
.hover-box:hover::after {
    opacity: 1;
}

//End of hover-box


//Custom boxes
.login-header-box {
    height: 100px;
    width: 350px;
    margin: 0 auto;
    margin-top: 180px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-box {
    height: 250px;
    width: 350px;
    margin: 0 auto;
    margin-top: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 20px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
}

.login-footer-box {
    height: 100px;
    width: 350px;

    margin: 0 auto;
    margin-top: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 20px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
}

.centralized-header-box {
    height: 100px;
    width: 350px;
    margin: 0 auto;
    margin-top: 180px;
    border: 1px solid var(--border-color);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centralized-box {
    width: 350px;
    margin: 0 auto;
    margin-top: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.custom-alert {

    .custom-alert-body-no-footer {
        border: 1px solid var(--border-color);
        border-radius: 8px;
        background-color: var(--background);
    }

    .custom-alert-body {
        border: 1px solid var(--border-color);
        border-radius: 8px;
        background-color: var(--background);
        border-bottom: 0px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .custom-alert-footer {
        border: 1px solid var(--border-color);
        border-radius: 8px;
        background-color: var(--background);
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
}

//End of custom boxes

//Scrolling
div.scroll-selectPantries {
    overflow-y: auto;
    border: 1px solid;
    border-radius: 6px;
    border-color: var(--border-color);

    @media (min-height: 575px) {
        max-height: 50px;
    }

    @media (min-height: 576px) {
        max-height: 100px;
    }

    @media (min-height: 768px) {
        max-height: 105px;
    }

    @media (min-height: 992px) {
        max-height: 200px;
    }
}

div.scroll-purchase {
    overflow-y: auto;
    border: 1px solid;
    border-radius: 5px;
    border-color: var(--border-color);

    @media (min-height: 575px) {
        max-height: 100px;
    }

    @media (min-height: 576px) {
        max-height: 100px;
    }

    @media (min-height: 768px) {
        max-height: 130px;
    }

    @media (min-height: 992px) {
        max-height: 300px;
    }
}

div.scroll-categories {
    overflow-y: auto;
    border: 1px solid;
    border-radius: 5px;
    border-color: var(--border-color);

    @media (max-height: 575px) {
        max-height: 300px;
    }

    @media (min-height: 576px) {
        max-height: 400px;
    }

    @media (min-height: 768px) {
        max-height: 500px;
    }

    @media (min-height: 992px) {
        max-height: 700px;
    }
}

div.scroll-supermarkets {
    overflow-y: auto;
    border: 1px solid;
    border-radius: 5px;
    border-color: var(--border-color);

    @media (min-height: 575px) {
        max-height: 100px;
    }

    @media (min-height: 576px) {
        max-height: 100px;
    }

    @media (min-height: 768px) {
        max-height: 130px;
    }

    @media (min-height: 992px) {
        max-height: 300px;
    }
}

//End of Scrolling

//Form Fields
.btn-close {
    --bs-btn-close-bg: var(--btn-close) !important;
}

.form-control {
    color: var(--text-color) !important;
    border-color: var(--border-color) !important;
    background-color: var(--background) !important;

    transition: background-color 5000s ease-in-out 0s;
}

.form-control:disabled {
    color: var(--text-color-2) !important;
}

.form-control::placeholder {
    color: var(--text-color-2) !important;
}

.form-control-password {
    border-style: none !important;
    padding: 0;
    margin: 0;
}

/* Define a cor de fundo quando autofill é ativado */
.form-control:-webkit-autofill {
    -webkit-text-fill-color: var(--text-color) !important;
    -webkit-box-shadow: 0 0 0 1000px var(--background) inset !important;
    box-shadow: 0 0 0 1000px var(--background) inset !important;

    :focus {
        -webkit-text-fill-color: var(--text-color) !important;
        -webkit-box-shadow: 0 0 0 1000px var(--background) inset;
        box-shadow: 0 0 0 1000px var(--background) inset;
    }
}

/* Define a cor de fundo para Edge */
.form-control:-internal-autofill-selected {
    color: var(--text-color) !important;
    background-color: var(--background) !important;

    :focus {
        background-color: var(--background) !important;
    }
}

.form-control:-moz-autofill {
    color: var(--text-color) !important;
    background-color: var(--background) !important;

    :focus {
        color: var(--text-color) !important;
        background-color: var(--background) !important;
    }
}

//end of disabling browser autofill

.form-control:hover {
    border-color: var(--link-color) !important;
}

.form-check-label {
    color: var(--text-color) !important;
}

.form-check-label:disabled {
    color: var(--text-color-2) !important;
}

.form-check-input {
    --bs-form-switch-bg: var(--switch-disabled) !important;
    background-color: var(--background) !important;
    border-color: var(--border-color) !important;
}

.form-check-input:checked {
    --bs-form-switch-bg: var(--switch-enabled) !important;
    background-color: var(--btn-background-color) !important;
    ;
}

.form-radio-label {
    color: var(--text-color) !important;
}

.form-radio-label:disabled {
    color: var(--text-color-2);
}

.form-radio-input {
    background-color: var(--background) !important;
    border-color: var(--border-color) !important;
}

.form-radio-input:checked {
    background-color: var(--background) !important;
    border-color: var(--border-color) !important;
}



//End of Form Fields

.language-dropdown {
    >button {
        --bs-btn-color: var(--background);
        --bs-btn-bg: transparent;
        --bs-btn-border-color: transparent;

        --bs-btn-hover-border-color: transparent;
        --bs-btn-hover-color: hsl(219, 11%, 25%);
        --bs-btn-hover-bg: transparent;

        --bs-btn-active-color: var(--background);
        --bs-btn-active-bg: transparent;
        --bs-btn-active-border-color: transparent;
    }

    >div {
        top: 85% !important;
        margin: 0px !important;
        padding: 0px !important;
        margin-left: -3px !important;

        --bs-dropdown-min-width: 32px;

        --bs-dropdown-bg: var(--background);
        --bs-dropdown-border-color: var(--btn-background-color);
        --bs-dropdown-link-hover-bg: var(--title-text-color);

        >a {
            padding-left: 4px !important;
            padding-right: 2px !important;
            padding-bottom: 2px !important;

        }
    }
}


.supermarket-sections-box {
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 500px;
    min-width: 180px;
    border: 0.5px solid var(--border-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}


//Tooltips
.custom-tooltip {
    .tooltip-inner {
        --bs-tooltip-bg: var(--btn-background-color);
        background-color: var(--btn-background-color);
        color: #fff;
        border-radius: 5px;
    }
}

.bs-tooltip-bottom .tooltip-arrow::before {
    border-bottom-color: var(--btn-background-color) !important;
}


//Tooltip invalid-supermarket-section
[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}

[data-title]:after {
    content: attr(data-title);

    position: absolute;
    padding: 1px 5px 2px 5px;
    bottom: -1.6em;
    left: 100%;
    white-space: nowrap;
    opacity: 0;
    border: 1px solid var(--border-color);
    z-index: 99999;
    visibility: hidden;

    background-color: var(--btn-background-color);
    color: #fff;
    border-radius: 5px;
    font-size: medium;
    font-weight: 400;
}

[data-title] {
    position: relative;
}

//End of Tooltips


//Cards used for listing items
.card1 {
    border: 2px solid var(--border-color) !important;
    background-color: var(--background-1) !important;
    border-radius: 8px !important;
    z-index: 0 !important;

    box-shadow: 0 1px 2px var(--box-shadow-0);
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.card1::after {
    box-shadow: 0 5px 15px var(--box-shadow-1);
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* Scale up the box */
.card1:hover {
    -webkit-transform: scale(1.02, 1.02);
    transform: scale(1.02, 1.02);
    box-shadow: 0 5px 15px var(--box-shadow-1);
}

/* Fade in the pseudo-element with the bigger shadow */
.card1:hover::after {
    opacity: 1;
}

//End of Card Listing Items


.slide-menu-box {
    background-color: var(--background) !important;
    width: 300px !important;
}

//Wizards
.form-wizard-steps {
    border-color: var(--progress-bar) !important;
}

.wizard-progress-bar {
    background-color: var(--progress-bar) !important;
}

.wizard-icon-container {
    background-color: var(--background-2) !important;
}

.wizard-icon-circle {
    border: 2px solid var(--background-2) !important;
    background-color: var(--background-2) !important;
}

.wizard-icon-circle.checked {
    .wizard-icon-container {
        background-color: var(--progress-bar) !important;
    }
}

span.stepTitle {
    color: var(--title-text-color) !important;
}

.wizard-tab-content {
    text-align: start !important;
}

.wizard-footer-left,
.wizard-footer-right {
    background-color: var(--background) !important;
    border-color: var(--background) !important;
}

.wizard-btn {
    min-width: 15%;
    width: fit-content;
    height: fit-content;
    padding: 2px;
    text-decoration: none;
    border-radius: 5px;
    align-items: center;
    text-align: center;
    pointer-events: all;

    background: none !important;
    color: transparent !important;
    border: 3px solid !important;
    border-image-slice: 1 !important;
    border-image-source: var(--gradient-wizard-button-border) !important;
    background-image: var(--gradient-wizard-button-text) !important;
    background-clip: text !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;

}

//End Wizards
//Chart
.chart-text {
    fill: var(--title-text-color);
    font-size: small;
}

.chart-subtext {
    fill: var(--text-color-2);
}

.chart-center {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    margin: 0;
}

.recharts-wrapper {

    .recharts-surface {
        padding: 0;
        margin: 0;
    }


}

li.top-critical-item {
    display: list-item;
    list-style-type: none;
    height: 7px;
    margin: 10px;
    vertical-align: middle;
    color: var(--title-text-color);
}

g:focus,
path:focus {
    outline: none !important;
}

//Chart

.search-input {
    height: 50px;
}

span.critical {
    color: var(--highlight-critical);
}

//Loading
.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.ripple {
    position: relative;
    width: 50px;
    height: 50px;
}

.ripple::before,
.ripple::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 4px solid var(--border-color);
    opacity: 0;
    animation: ripple 3s infinite;
}

.ripple::after {
    animation-delay: 1.5s;
}

@keyframes ripple {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    100% {
        transform: scale(2.5);
        opacity: 0;
    }
}

//End-Loading


.scanner-camera {
    position: absolute;
    overflow: hidden;
}

.drawingBuffer {
    position: relative;
    top: -220px;
    //left: 0;
}

#scanner-camera video {
    display: flex;
    //transform: rotate(0deg); 
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.scanner-outer-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    @media (max-width: 769px) {
        flex-direction: column;
    }
}

.scanner-box {
    border: 1px solid var(--border-color);
    border-radius: 5px;

    display: flex;
    padding-right: 0;
    max-width: 440px;
    max-height: 301px;

    justify-content: space-evenly;
    align-items: start;
    flex-direction: column;
}

.scanner-product-box {

    border: 1px solid var(--border-color);
    border-radius: 5px;

    max-width: 388px;
    height: 300px;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
}

.scanner-icon {
    align-self: flex-end;
    align-items: flex-end;
}

.product-image {
    align-self: flex-end;
    max-width: 130px;
    max-height: 130px;
    padding-right: 10px;
}

#red-line {
    position: absolute;
    left: 10;
    width: 385px;
    height: 2px;
    background-color: red;

    @media (max-width: 769px) {
        animation: move-line-md 2s linear infinite;
    }

    @media (min-width: 770px) {
        animation: move-line-lg 2s linear infinite;
    }
}

/* Keyframe animation for the horizontal red line */
@keyframes move-line-md {
    0% {
        top: 270px;
    }

    100% {
        top: 500px;
    }
}

/* Keyframe animation for the horizontal red line */
@keyframes move-line-lg {
    0% {
        top: 200px;
    }

    100% {
        top: 450px;
    }
}

.overlay-image {
    position: absolute;
    width: 380px;
    height: 260px;
    opacity: 0.6;

    @media (max-width: 769px) {
        top: 250px;
    }

    @media (min-width: 770px) {
        top: 200px;
    }
}

.loading-overlay {
    position: absolute;
    /* Position it absolutely */
    top: 0;
    /* Align to the top */
    left: 0;
    /* Align to the left */
    right: 0;
    /* Stretch to the right */
    bottom: 0;
    /* Stretch to the bottom */
    background-color: transparent;
    /* Optional: semi-transparent background */
    display: flex;
    /* Center the content */
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    z-index: 10;
    /* Make sure it's on top */
}

//independent Loading
.independent-loader-container {
    display: flex;
    justify-content: center;
    /* Centers horizontally */
    align-items: center;
    /* Centers vertically */
    // height: 100vh;
    width: 100%;
    padding: 20px;

}

.independent-ripple {
    position: relative;
    min-width: 30px;
    min-height: 30px;
    max-width: 50px;
    max-height: 50px;
}

.independent-ripple::before,
.independent-ripple::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 4px solid var(--border-color);
    opacity: 0;
    animation: ripple 3s infinite;
}

.independent-ripple::after {
    animation-delay: 1.5s;
}

@keyframes independent-ripple {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    100% {
        transform: scale(2.5);
        opacity: 0;
    }
}

div.scroll-top-critical {
    overflow-y: auto;

    margin-left: 20px;
    padding-right: 10px;

    @media (max-width: 1399px) {
        max-height: 200px;
    }

    @media (min-width: 1400px) {
        max-height: 160px;
    }
}

.highlight-background {
    background-color: var(--highlight-background);
}

.modal-dialog {
    position: fixed !important;
    bottom: 0 !important;
    left: 2% !important;
    // right: 0% !important;
    margin-bottom: 0 !important;

    border: 1px solid var(--border-color);
    border-radius: 8px;
    background-color: var(--background);
    border-bottom: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.modal-body {
    .p {
        padding-bottom: 5 px !important;
    }
}