$primary-color: #909df4;
$primary-text-color: #6c66d8;
$primary-background: #383d46;
$secondary-text-color: #1c1d1f;
$secondary_background: lavender;
$link-color: rgb(63, 6, 250);
$btn-background-color: #6c66d8;
//$gradient-color: linear-gradient(90deg, #84D5FF, #98C4FE, #ADB2FE, #BEA4FD, #E584FC);
$gradient-color: linear-gradient(90deg, rgba(228, 132, 252, 1) 0%, rgba(132, 212, 255, 1) 100%);
//$gradient-color: linear-gradient(20deg, rgba(132, 212, 255, 1) 0%, rgb(231, 141, 243) 100%);

// div {
//     border: 1px solid blue;
// }

.header {
    background-image: linear-gradient(to bottom right, dodgerblue, purple);
    padding: 8px;
    //padding-left: 15px;

    nav a {
        color: lavender;
        padding: 0px;
        width: auto;
    }

    .icon:hover {
        border-color: lavender !important;
        border-radius: 5px;
    }

    .navbar-brand {
        width: min-content;
        margin-right: 5px;
        color: lavender;
    }

    .navbar-nav {
        width: auto;
        justify-content: space-between;
    }

    .navbar-collape {
        flex-grow: unset;
    }

    .navbar-toggler,
    .navbar-toggler:focus,
    .navbar-toggler:active,
    .navbar-toggler-icon:focus {
        outline: none !important;
        box-shadow: none !important;
        border: 0 !important;
    }
}

.fix-pantry-name {
    justify-content: center !important;
    width: auto !important;
    padding-left: 0px !important;
    padding-right: 0px !important;

    @media (max-width: 575px) {
        min-width: fit-content !important;
        max-width: 300px !important;
    }

    @media (min-width: 576px) and (max-width: 768px) {
        min-width: 300px !important;
        max-width: 400px !important;
    }
}

.fix-toggle-btn {
    margin-left: 5px;
    margin-right: 5px;
    display: block;

    @media (min-width: 769px) {
        display: none;
    }

    .btn {
        padding: 0;
    }
}

.fix-login-btn-before {
    width: min-content;
    display: none;

    @media (max-width: 767px) {
        width: min-content;
        margin-right: 5px;
        display: block;
    }

    .btn {
        padding: 0;
    }
}

.fix-login-btn-after {
    width: min-content;
    display: none;

    @media (min-width: 768px) {
        width: min-content;
        margin-right: 5px;
        display: block;
    }

    .btn {
        padding: 0;
    }
}

.navbar-collapse.collapse {
    justify-content: end;
    flex-grow: unset;
}

.homeText {
    font-family: cursive;
    font-size: 27px;
    font-weight: bold;
    padding-left: 10px;
    //background: linear-gradient(90deg, #99F0F7, #C2B6F3, #EA7BEE);
    background: $gradient-color;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.homeLink:hover {
    // border-color: $link-color !important;
    // color: $link-color !important;
    transform: scale(1.1);
}

.menu {
    display: flex;
    direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    margin-right: 30px;
    padding-top: 5px;
}

.menuItem {
    align-items: center;
    text-align: center;
    pointer-events: all;
}

.menuItem:hover {
    // border: 1px solid lavender;
    // border-radius: 5px;
    // padding: 2px;
    transform: scale(1.2);
}

.menuItem.disabled {
    border: 0px !important;
    pointer-events: none !important;
    opacity: 0.3 !important;
}

.menu-icon {
    width: 25px;
    height: 25px;
}

.profile-icon {
    background: linear-gradient(white, white) padding-box,
        $gradient-color border-box;
    border-radius: 20px;
    border: 2px solid transparent;
}

.link-to-pantry {
    color: #a8b1ee !important;
    padding: 0px;
    width: auto;
}

.link-to-pantry:link {
    text-decoration: underline;
}

.link-to-pantry:hover {
    transform: scale(1.1);
}

.hover-effect:hover {
    transform: scale(1.1);
}