:root {
    --gradient-color: linear-gradient(90deg, rgba(228, 132, 252, 1) 0%, rgba(132, 212, 255, 1) 100%); 
    --highlight-critical: rgb(249, 79, 79);
}

.theme-lila-light {
    $background-color: #d8d8fa; //lavender;
    $text-color: hsl(219, 11%, 25%);
    --background: #{$background-color};
    --background-1: #{darken($background-color, 3%)};
    --background-2: #{darken($background-color, 5%)};
    --background-3: var(--background-1);
    --btn-background-color: #6c66d8;
    --icon-color: #6c66d8;
    --border-color: #b7bffb;
    --link-color: rgb(128, 88, 193);
    --text-color: $text-color;
    --text-color-1: #{lighten($text-color, 3%)};
    --text-color-2: #{lighten($text-color, 35%)};
    --title-text-color: #4B0082;
    --highlight-text: #BA55D3;
    --gradient-image-header: linear-gradient(to bottom right, #1E90FF -20%, #800080 100%); //dodgerblue, purple);
    --gradient-image-profile-background: linear-gradient(to bottom right, #1E90FF -30%, #800080 100%), linear-gradient(90deg, rgba(228, 132, 252, 1) 0%, rgba(132, 212, 255, 1) 100%);
    --gradient-image-icon-background: linear-gradient(to bottom right, #1E90FF -20%, #800080 100%), linear-gradient(90deg, rgba(228, 132, 252, 1) 0%, rgba(132, 212, 255, 1) 100%);
    --gradient-image-button: linear-gradient(90deg, var(--background), var(--background)), linear-gradient(90deg, hsl(289, 65%, 64%), hsl(226, 78%, 67%));
    --gradient-image-text: linear-gradient(90deg, hsl(289, 52%, 55%), hsl(207, 67%, 49%));
    --gradient-wizard-button-border: linear-gradient(90deg, hsl(289, 65%, 64%), hsl(226, 78%, 67%));
    --gradient-wizard-button-text: var(--gradient-image-text);
    --disabled-gradient-image-button: linear-gradient(90deg, var(--background), var(--background)), linear-gradient(45deg, #808080 5%, rgb(199, 198, 198) 70%);
    --disabled-gradient-image-text: linear-gradient(45deg, #808080, #D3D3D3);
    --box-shadow-0: rgb(92, 90, 90);
    --box-shadow-1: rgb(0, 0, 0.9);
    --switch-enabled: url("data:image/svg+xml,<svg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27><circle r=%273%27 fill=%27%23E6E6FA%27/></svg>");
    --switch-disabled: url("data:image/svg+xml,<svg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27><circle r=%273%27 fill=%27%23808080%27/></svg>");
    --btn-close: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%2723000%29%27%3e%3cpath d=%27M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z%27/%3e%3c/svg%3e");
    --highlight-item-list: rgb(183, 183, 230);
    --progress-bar: #6c66d8;
}

.theme-lila-dark {
    $background-color: rgb(34, 33, 33);
    --background: #{$background-color};
    --background-1: #{lighten($background-color, 3%)};
    --background-2: #{lighten($background-color, 5%)};
    --background-3: var(--highlight-item-list);
    --btn-background-color: #000000;
    --icon-color: #FFFFFF;
    --border-color: #c5cbfb;
    --link-color: #FFFFFF;
    --text-color: #FFFFFF;
    --text-color-1: #A9A9A9;
    --text-color-2: #808080;
    --title-text-color: var(--text-color);
    --highlight-text: rgb(191, 146, 254);
    --gradient-image-header: linear-gradient(to bottom right, #1E90FF -20%, #800080 100%); //dodgerblue, purple);
    --gradient-image-profile-background: linear-gradient(to bottom right, #1E90FF -30%, #800080 100%), linear-gradient(90deg, rgba(228, 132, 252, 1) 0%, rgba(132, 212, 255, 1) 100%);
    --gradient-image-icon-background: linear-gradient(to bottom right, #1E90FF -20%, #800080 100%), linear-gradient(90deg, rgba(228, 132, 252, 1) 0%, rgba(132, 212, 255, 1) 100%);
    --gradient-image-button: linear-gradient(90deg, var(--background), var(--background)), linear-gradient(90deg, hsl(289, 65%, 64%), hsl(226, 78%, 67%));
    --gradient-image-text: var(--gradient-color);
    --gradient-wizard-button-border: var(--gradient-color);
    --gradient-wizard-button-text: var(--gradient-color);
    --disabled-gradient-image-button: linear-gradient(90deg, var(--background), var(--background)), linear-gradient(45deg, #808080 5%, rgb(199, 198, 198) 70%);
    --disabled-gradient-image-text: linear-gradient(45deg, #808080, #D3D3D3);
    --box-shadow-0: rgb(180, 102, 180);
    --box-shadow-1: #800080;
    --switch-enabled: url("data:image/svg+xml,<svg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27><circle r=%273%27 fill=%27%23E6E6FA%27/></svg>");
    --switch-disabled: url("data:image/svg+xml,<svg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27><circle r=%273%27 fill=%27%23808080%27/></svg>");
    --btn-close: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27rgb%28108, 102, 216%29%27%3e%3cpath d=%27M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z%27/%3e%3c/svg%3e");
    --highlight-item-list: rgb(77, 77, 77);
    --progress-bar: #{lighten($background-color, 15%)};
}

.theme-mono-light {
    $background-color: #FFFFFF;
    --background: #{$background-color};
    --background-1: #{darken($background-color, 4%)};
    --background-2: #{darken($background-color, 6%)};
    --background-3: var(--highlight-item-list);
    --btn-background-color: #000000;
    --icon-color: #A9A9A9;
    --border-color: #A9A9A9;
    --link-color: rgb(34, 33, 33);
    --text-color: rgb(34, 33, 33);
    --text-color-1: #A9A9A9;
    --text-color-2: #808080;
    --title-text-color: var(--text-color);
    --highlight-text: #BA55D3;
    --gradient-image-header: linear-gradient(to bottom right, #808080, #000000);
    --gradient-image-profile-background: linear-gradient(180deg, #808080, #000000), linear-gradient(90deg, rgba(228, 132, 252, 1) 0%, rgba(132, 212, 255, 1) 100%);
    --gradient-image-icon-background: linear-gradient(180deg, #808080, #000000), linear-gradient(90deg, rgba(228, 132, 252, 1) 0%, rgba(132, 212, 255, 1) 100%);
    --gradient-image-button: linear-gradient(90deg, var(--background), var(--background)), linear-gradient(to bottom right, rgba(228, 132, 252, 1) 0%, rgba(132, 212, 255, 1) 100%);
    --gradient-image-text: linear-gradient(45deg, rgb(34, 33, 33), rgb(34, 33, 33));
    --gradient-wizard-button-text: var(--gradient-image-text);
    --disabled-gradient-image-button: linear-gradient(90deg, var(--background), var(--background)), linear-gradient(45deg, #808080 5%, rgb(199, 198, 198) 70%);
    --disabled-gradient-image-text: linear-gradient(45deg, #808080, #808080);
    --box-shadow-0: rgb(92, 90, 90);
    --box-shadow-1: rgb(0, 0, 0.9);
    --switch-enabled: url("data:image/svg+xml,<svg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27><circle r=%273%27 fill=%27%23FFFFFF%27/></svg>");
    --switch-disabled: url("data:image/svg+xml,<svg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27><circle r=%273%27 fill=%27%23808080%27/></svg>");
    --btn-close: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%23808080%27%3e%3cpath d=%27M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z%27/%3e%3c/svg%3e");
    --highlight-item-list: #D3D3D3;
    --progress-bar: #{darken($background-color, 65%)};
}

.theme-mono-dark {
    $background-color: rgb(34, 33, 33);
    --background: #{$background-color};
    --background-1: #{lighten($background-color, 3%)};
    --background-2: #{lighten($background-color, 5%)};
    --background-3: var(--highlight-item-list);
    --btn-background-color: #000000;
    --icon-color: #FFFFFF;
    --border-color: #A9A9A9;
    --link-color: #FFFFFF;
    --text-color: #FFFFFF;
    --text-color-1: #A9A9A9;
    --text-color-2: #808080;
    --title-text-color: var(--text-color);
    --highlight-text: rgb(191, 146, 254);
    --gradient-image-header: linear-gradient(to bottom right, #808080, #000000);
    --gradient-image-profile-background: linear-gradient(180deg, #808080, #000000), linear-gradient(90deg, rgba(228, 132, 252, 1) 0%, rgba(132, 212, 255, 1) 100%);
    --gradient-image-icon-background: linear-gradient(180deg, #808080, #000000), linear-gradient(90deg, rgba(228, 132, 252, 1) 0%, rgba(132, 212, 255, 1) 100%);
    --gradient-image-button: linear-gradient(90deg, var(--background), var(--background)), linear-gradient(to bottom right, rgba(228, 132, 252, 1) 0%, rgba(132, 212, 255, 1) 100%);
    --gradient-image-text: var(--gradient-color);
    --gradient-wizard-button-border: var(--gradient-color);
    --gradient-wizard-button-text: var(--gradient-color);
    --disabled-gradient-image-button: linear-gradient(90deg, var(--background), var(--background)), linear-gradient(45deg, #808080 5%, rgb(199, 198, 198) 70%);
    --disabled-gradient-image-text: linear-gradient(45deg, #808080, #808080);
    --box-shadow-0: #808080;
    --box-shadow-1: #D3D3D3;
    --switch-enabled: url("data:image/svg+xml,<svg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27><circle r=%273%27 fill=%27%23FFFFFF%27/></svg>");
    --switch-disabled: url("data:image/svg+xml,<svg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27><circle r=%273%27 fill=%27%23808080%27/></svg>");
    --btn-close: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%23D3D3D3%27%3e%3cpath d=%27M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z%27/%3e%3c/svg%3e");
    --highlight-item-list: rgb(77, 77, 77);
    --progress-bar: #{lighten($background-color, 18%)};
}