@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }

    nav .brand-logo.left {
        left: 1.5rem;
    }

    nav .show-on-med.right {
        padding-right: 0.5rem;
    }
}